.root {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.wordmark {
  font-family: var(--brand-font);
  text-transform: uppercase;
  letter-spacing: 0.08em;
  font-size: 28px;
  line-height: 1;
  font-weight: 700;
  color: var(--standard-black);
}

.root:hover .wordmark {
  color: var(--elite-accent);
}

@media (max-width: 800px) {
  .wordmark {
    font-size: 20px;
  }
}