@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@600;700&display=swap');
/**
 *
 Font weight references:

 Regular: 400;
 Medium: 500;
 Semi-bold: 600;
 Bold: 700;
 Extra-bold: 800;
 *
 */

/* Variables */
:root {
  --space1: 4px;
  --space2: 8px;
  --space3: 12px;
  --space4: 16px;
  --space5: 24px;
  --space6: 40px;
  --space7: 64px;
  --space8: 96px;
  --mobile: 400px;
  --small: 600px;
  --medium: 1000px;
  --large: 1300px;
  --standard-header: 'Space Grotesk', sans-serif;
  --standard-font: 'Inter', sans-serif;
  --brand-font: 'Rajdhani', sans-serif;
  --standard-black: #0e1420;
  --standard-white: #ffffff;
  --standard-grey: #d8dee7;
  --standard-dark-grey: #1f2a3d;
  --standard-light-grey: #f6f8fb;
  --grey-passthough: #979797;
  --grey-border: #bec8d6;
  --grey-placeholder: #5f6f85;
  --grey-crumb: #67768a;
  --grey-disabled: #edf1f6;
  --grey-chip: #e9eef5;
  --grey-one: #d4dde8;
  --bg-grey: #f2f5fa;
  --bg-dark: #0f1726;
  --bg-close-icon: #e8edf5;
  --bg-light-gray: #dce3ed;
  --standard-gold: #2f7cff;
  --sale: #ef4444;
  --error: #dc2626;
  --elite-accent: #2f7cff;
  --elite-accent-strong: #1e64dd;
  --elite-surface: #f5f8fd;
  --elite-border: #d4deeb;
  --elite-shadow: 0 12px 28px rgba(15, 23, 38, 0.08);

  /* not sure if we are to maintain existing color palletes. better if we keep it lightweight? */
  /* --standard-grey-darker: #393939;
  --standard-grey-light: #e3e3e3;
  --standard-grey-lighter: #cccccc;
  --standard-grey-passthrough: #959595;
  --standard-grey-alt-passthough: #979797;
  --standard-orange: #FF3300;
  
  --filter-red: #FF0000;
  --filter-pink: #f79a9a;
  --filter-purple: #9900ff;
  --filter-green: #009c00;
  --filter-blue: #0000ff;
  --filter-orange: #ff9900;
  --filter-yellow: #ffe600;
  --filter-silver: #c4c2c2;
  --filter-bullet-gray: #C4C4C4;
  --border-light: #EDEFF1;
  --menu-black: #161616;
  --hover-red: #FF3503;
  --border-light-gray: #DADADA;
  --grey-close-icon: #888888;
  --gray-alt: #D8D8D8;
  --border-gray: #E6E6E6;
  --bg-gray: #F7F7F7;
  --bg-light-gray: #e5e5e5;
  --filter-track-gray: #DEDEE3;
  --alt-black: #0E0E10;
  --product-card-bg: #F6F6F6;
  --border-gray-light: #dddddd;
  --checkout-step-border: #D2D3D4;
  --shipping-display-bg: #eef1f3;
  --banner-background: #181818; */
}

html, body {
  box-sizing: border-box;
  margin: 0;
  font-family: var(--standard-font);
  color: var(--standard-black);
  background-color: #fbfdff;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* [data-button] {
  cursor: pointer;
  user-select: none;
}

h1,
.h1 {
  font-family: var(--standard-header);
  font-size: 64px;
  line-height: 1.1;
  letter-spacing: -0.02em;
  margin: 0;
}

h2,
.h2 {
  font-family: var(--standard-header);
  font-size: 48px;
  line-height: 1.15;
  letter-spacing: -0.015em;
  margin: 0;
}

h3,
.h3 {
  font-family: var(--standard-header);
  font-size: 36px;
  line-height: 1.2;
  margin: 0;
}

h4,
.h4 {
  font-family: var(--standard-header);
  font-size: 28px;
  line-height: 1.25;
  margin: 0;
}

h5,
.h5 {
  font-family: var(--standard-header);
  font-size: 24px;
  line-height: 1.25;
  margin: 0;
}

h6,
.h6 {
  font-family: var(--standard-header);
  font-size: 20px;
  line-height: 1.25;
  margin: 0;
}

.quote {
  font-family: var(--standard-header);
  font-size: 34px;
  line-height: 1.25;
  margin: 0;
}

p {
  margin: 0;
}

.b1 {
  font-size: 20px;
}

.b2 {
  font-size: 18px;
}

.b3 {
  font-size: 16px;
}

.b4 {
  font-size: 14px;
}

.buttonText {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.04em;
}

@media only screen and (max-width: 767px) {
  h1,
  .h1 {
    font-size: 44px;
  }

  h2,
  .h2 {
    font-size: 36px;
  }

  h3,
  .h3 {
    font-size: 30px;
  }

  h4,
  .h4 {
    font-size: 24px;
  }

  h5,
  .h5 {
    font-size: 20px;
  }

  h6,
  .h6 {
    font-size: 18px;
  }
}

@media only screen and (max-width: 480px) {
  h1,
  .h1 {
    font-size: 34px;
  }

  h2,
  .h2 {
    font-size: 30px;
  }

  h3,
  .h3 {
    font-size: 24px;
  }

  h4,
  .h4 {
    font-size: 21px;
  }

  h5,
  .h5 {
    font-size: 18px;
  }
}

.subtitle {
  font-weight: 500;
  font-size: 20px;
}

.subtitle.small {
  font-weight: 500;
  font-size: 18px;
}

.small {
  font-size: 14px;
}

.overline {
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

input:focus {
  outline: 2px solid var(--elite-accent) !important;
  outline-offset: 1px !important;
}

/* Font controls */

a {
  text-decoration: none;
  color: var(--standard-black);
  transition: color ease-in-out 0.25s;
}

.uppercase {
  text-transform: uppercase;
}

.hover-text-main:hover {
  color: var(--elite-accent);
}

ul {
  list-style: none;
  padding: 0;
}

ul.bullets {
  margin-left: 40px;
  list-style: disc;
}

ul.bullets li {
  margin-bottom: 5px;
}

ol {
  margin: 0;
  padding-left: 1.8em;
}

/* Spacings */

.p-4 {
  padding: var(--space4);
}

.p-5 {
  padding: var(--space5);
}

.py-4 {
  padding-top: var(--space4);
  padding-bottom: var(--space4);
}

.py-8 {
  padding-top: var(--space8);
  padding-bottom: var(--space8);
}

.pt-3 {
  padding-top: var(--space3);
}

.pt-4 {
  padding-top: var(--space4);
}

.pb-0 {
  padding-bottom: 0px;
}

.pb-4 {
  padding-bottom: var(--space4);
}

.mb-0 {
  margin-bottom: 0px;
}

.mb-4 {
  margin-bottom: var(--space4);
}

.ml-3 {
  margin-left: var(--space3);
}

.ml-4 {
  margin-left: var(--space4);
}

.mt-2 {
  margin-top: var(--space2);
}

.mt-4 {
  margin-top: var(--space4);
}

.mt-5 {
  margin-top: var(--space5);
}

.mx-3 {
  margin-left: var(--space3);
  margin-right: var(--space3);
}

/* Layout */

.row {
  display: flex;
}

.flex-center {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-start {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flex-end {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.flex-around {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex-between {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-middle {
  display: flex;
  align-items: center;
}

/* Layout - Grid */
.grid {
  display: grid;
  gap: 40px;
}

.grid-gap0 {
  display: grid;
  gap: 0;
}

.grid-gap20 {
  display: grid;
  gap: 20px;
}

.grid-gap60 {
  display: grid;
  gap: 60px;
}

.grid-0595 {
  grid-template-columns: 0.1fr 1.9fr;
}

.grid-1585 {
  grid-template-columns: 0.3fr 1.7fr;
}

.grid-2080 {
  grid-template-columns: 0.4fr 1.6fr;
}

.grid-25 {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid-2575 {
  grid-template-columns: 0.5fr 1.5fr;
}

.grid-3070 {
  grid-template-columns: 0.6fr 1.4fr;
}

.grid-33 {
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-4060 {
  grid-template-columns: 0.8fr 1.2fr;
}

.grid-50,
.grid-5050 {
  grid-template-columns: 1fr 1fr;
}

.grid-6040 {
  grid-template-columns: 1.2fr 0.8fr;
}

.grid-7030 {
  grid-template-columns: 1.4fr 0.6fr;
}

.grid-7525 {
  grid-template-columns: 1.5fr 0.5fr;
}

.grid-v-space-0 {
  gap: 0 40px;
}

/* Forms */

.formField {
  margin-bottom: 20px;
  position: relative;
}

.formField.mb-0 {
  margin-bottom: 0px;
}

.formField input[type='text'],
.formField input[type='email'],
.formField input[type='number'],
.formField input[type='tel'],
.formField input[type='password'],
.formField textarea,
.formField select {
  width: 100%;
  border: 1px solid var(--bg-light-gray);
  font-size: 14px;
  padding: 12px 20px 12px 12px;
  line-height: 1;
  box-sizing: border-box;
  font-family: var(--standard-font);
}

.formField textarea {
  resize: none;
  height: 150px;
}

.formField select {
  padding: 9px 10px;
}

.formField label,
.formField span.label {
  display: block;
  width: 100%;
  font-size: 14px;
}

.formField label.middle,
.formField span.label.middle {
  display: flex;
  align-items: center;
}

.formField.required label::after,
.formField.required label::after,
.formField.required label::after {
  content: '*';
  display: inline-block;
  margin-left: 4px;
  /* color: var(--standard-red); */
}

.formField .error {
  /* position: absolute; */
  /* bottom: -2px; */
  /* right: 5px; */
  color: var(--error);
  font-size: 12px;
  line-height: 15px;
}

.genericError {
  color: var(--error);
  font-size: 12px;
  line-height: 15px;
}

/* DataTables */
.dataTable {
  width: 100%;
}

.dataTableRow {
  display: flex;
  flex-wrap: wrap;
  padding: 5px 0;
}

.dataTableRow:nth-child(odd) {
  background-color: #efefef;
}

.dataTableCell {
  margin-left: 5px;
  padding: 0 5px;
  display: flex;
  align-items: center;
}

.dataTableCell.alignTop {
  align-items: flex-start;
}

.dataTableCell.alignBottom {
  align-items: flex-end;
}

.dataTableCell:first-child {
  margin-left: 0;
}

.dataTableActionsCell {
  margin-left: auto;
}

.dataTableActionsCell [data-button] {
  margin-left: 5px;
  cursor: pointer;
}

.dataTableEditor {
  width: 100%;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  height: 0;
  padding: 0 5px;
  transition: all 0.3s ease-in-out;
}

.dataTableEditor.active {
  opacity: 1;
  visibility: visible;
  height: auto;
  padding-top: 10px;
}

/* Formatting */
.box {
  border: 1px solid #eee;
  padding: 10px;
}

.box:nth-child(odd) {
  background-color: #efefef;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

/* Helpers */
.icon-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  opacity: 0;
  visibility: hidden;
  height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.show {
  opacity: 1;
  visibility: visible;
  height: auto;
  overflow: initial;
  transition: all 0.3s ease-in-out;
}

.btnGroup > * {
  margin-right: 10px;
}

.btnGroup > *:last-child {
  margin-right: 0px;
}

.disable-action {
  pointer-events: none;
  user-select: none;
  cursor: not-allowed;
}

.standardSpan {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.callout {
  margin: 40px 0;
  padding: 30px;
  background-color: var(--bg-light-gray);
  text-align: center;
}

/* React Slick Custom Settings */
/* .slick-list {margin: 0 -5px;}
.slick-slide>div {padding: 0 5px;} */