.main {
    padding-top: 128px;
    padding-bottom: 120px;
}

.disablePaddingBottom {
    padding-bottom: 0px !important;
}

@media (max-width: 800px) {
    .main {
        padding-top: 86px;
        padding-bottom: 96px;
    }
}