.cardGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2px;
}

.imageContainer {
  width: 100%;
  height: 520px;
}

.imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.mobileSlider {
  margin-bottom: 32px;
}

.root {
  margin-left: -3.5%;
  margin-right: -2.5%;
}
@media (max-width: 800px) {
  .root {
    margin-bottom: 20px;
  }
}
